- [3.4](#3.4)
- [3.5](#3.5)
- [3.6](#3.6)
- [4.1, 4.2](#4.1,-4.2)
- [5.1](#5.1)
- [5.2](#5.2)
- [5.3](#5.3)
- [6.2](#6.2)
- [6.3](#6.3)
- [6.4](#6.4)
- [6.5](#6.5)
- [6.6](#6.6)
- [6.7](#6.7)
- [7.3](#7.3)
- [7.4](#7.4)

3.4
---

In [2]:
numbers = [10, 2, 4, 8, 1.7]
squared_numbers = []

for i, x in enumerate(numbers):
    print('Il numero in posizione {} è {}'.format(i, x))
    squared_numbers += [x**2]
    
squared_numbers

Il numero in posizione 0 è 10
Il numero in posizione 1 è 2
Il numero in posizione 2 è 4
Il numero in posizione 3 è 8
Il numero in posizione 4 è 1.7

[100, 4, 16, 64, 2.8899999999999997]

3.5
---

In [2]:
names = ['francesco', 'elisa', 'alessandro', 'giovanni', 'maria teresa']
indexed_sorted_names = [[i, n] for i, n in enumerate(sorted(names))]

indexed_sorted_names

[[0, 'alessandro'],
 [1, 'elisa'],
 [2, 'francesco'],
 [3, 'giovanni'],
 [4, 'maria teresa']]

3.6
---

In [3]:
numbers = [10, 2, 4, 8, 1.7]
squared_numbers = [x**2 for x in numbers]

squared_numbers

[100, 4, 16, 64, 2.8899999999999997]

4.1, 4.2
---

In [6]:
lst = [3,6,5,8,12]

for element in lst:
    if element**2 % 2 == 0 and element**2 % 3 == 0:
        print('Il quadrato di {} è {}, che è multiplo sia di 2 che di 3'.format(element, element**2))
    elif element**2 % 2 == 0:
        print('Il quadrato di {} è {}, che è multiplo di 2 ma non di 3'.format(element, element**2))
    elif element**2 % 3 == 0:
        print('Il quadrato di {} è {}, che è multiplo di 3 ma non di 2'.format(element, element**2))
    else:
        print('Il quadrato di {} è {}, che non è multiplo né di 2 né di 3'.format(element, element**2))
        
print('\n**************************************************************\n')

multiples_of_2 = [element**2 for element in lst if element**2 % 2 == 0]
multiples_of_3 = [element**2 for element in lst if element**2 % 3 == 0]
multiples_of_2_and_not_of_3 = [element**2 for element in lst if element**2 % 2 == 0 and not element**2 % 3 == 0]

print(multiples_of_2)
print(multiples_of_3)
print(multiples_of_2_and_not_of_3)

Il quadrato di 3 è 9, che è multiplo di 3 ma non di 2
Il quadrato di 6 è 36, che è multiplo sia di 2 che di 3
Il quadrato di 5 è 25, che non è multiplo né di 2 né di 3
Il quadrato di 8 è 64, che è multiplo di 2 ma non di 3
Il quadrato di 12 è 144, che è multiplo sia di 2 che di 3

**************************************************************

[36, 64, 144]
[9, 36, 144]
[64]

5.1
---

In [7]:
heights = {}
heights['Mount Everest'] = 8858
heights['K2'] = 8611
heights['Kangchenjunga'] = 8586

for mountain, height in heights.items():
    print('{} è alta {}'.format(mountain, height))
    
for i, mountain in enumerate(sorted(heights.keys())):
    print('La montagna numero {} è {} ed è alta {}'.format(i+1, mountain, heights[mountain]))

Mount Everest è alta 8858
K2 è alta 8611
Kangchenjunga è alta 8586
La montagna numero 1 è K2 ed è alta 8611
La montagna numero 2 è Kangchenjunga ed è alta 8586
La montagna numero 3 è Mount Everest ed è alta 8858

5.2
---

In [8]:
mountains = []

mountains += [{'name':'Mount Everest', 'height':8858, 'country':'Nepal'}]
mountains += [{'name':'K2', 'height':8611, 'country':'Pakistan'}]
mountains += [{'name':'Kangchenjunga', 'height':8586, 'country':'Nepal'}]

for i, m in enumerate(mountains):
    print('La montagna numero {} è {}, è alta {} e si trova in {}'.format(i,
                                                                          m['name'],
                                                                          m['height'],
                                                                          m['country']))

La montagna numero 0 è Mount Everest, è alta 8858 e si trova in Nepal
La montagna numero 1 è K2, è alta 8611 e si trova in Pakistan
La montagna numero 2 è Kangchenjunga, è alta 8586 e si trova in Nepal

In [9]:
mountain_names = [m['name'] for m in mountains]
mountain_heights = [m['height'] for m in mountains]

heights = {}

for i,n in enumerate(mountain_names):
    heights[n] = mountain_heights[i]
    
print(heights)

{'Mount Everest': 8858, 'K2': 8611, 'Kangchenjunga': 8586}

5.3
---

In [5]:
def show_estate_info(e):
    print('Paese: {}'.format(e['country']))
    print('Estensione (mq): {}'.format(e['extension']))
    print('Terreno annesso?: {}'.format('Sì' if e['has_land'] else 'No'))
    print('Prezzo: {}K Euro'.format(e['price']))

In [9]:
estates = []

e1 = {'country':'Italia',    'extension':2000,  'has_land':False, 'price':10}
e2 = {'country':'Spagna',    'extension':12000, 'has_land':False, 'price':125}
e3 = {'country':'Argentina', 'extension':50000, 'has_land':True,  'price':300}

estates += [e1, e2, e3]

for i, e in enumerate(estates):
    print(f'\nImmobile #{i}')#sintassi alternativa a format, disponibile da Python 3.6
    show_estate_info(e)

Immobile #0
Paese: Italia
Estensione (mq): 2000
Terreno annesso?: No
Prezzo: 10K Euro

Immobile #1
Paese: Spagna
Estensione (mq): 12000
Terreno annesso?: No
Prezzo: 125K Euro

Immobile #2
Paese: Argentina
Estensione (mq): 50000
Terreno annesso?: Sì
Prezzo: 300K Euro

6.2
---

In [2]:
import numpy as np
import numpy.random as rdm
from math import sqrt

def py_std(x):
    mean_val = sum(x) / len(x)
    return sqrt(sum((val-mean_val)**2 for val in x) / len(x))

large_array = rdm.normal(size=(1000000,))

print(py_std(large_array))
print(np.std(large_array))

#confronto tempi di esecuzione
%timeit py_std(large_array)
%timeit np.std(large_array)

1.000364008741215
1.000364008741213
428 ms ± 22.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
2.52 ms ± 498 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

6.3
---

In [3]:
import numpy as np
import numpy.random as rdm

n_frames = 50
n_pixel_x = 5
n_pixel_y = 5
movie = rdm.randint(0, 256, (n_frames, n_pixel_x, n_pixel_y))
print(movie)

[[[206   1 111  55 205]
  [ 66 240  32  41  23]
  [167 132 152 138 113]
  [181  39  58   7  38]
  [ 25 112 160  42  84]]

 [[153  54 173 239 152]
  [158 251  21 222  28]
  [ 81 235 196 139  12]
  [ 82 236 192  81 221]
  [ 22 230 189  94 210]]

 [[ 18 162  27  60 184]
  [233  68 204 153 159]
  [160 223 205 114 173]
  [129 184 228  61 172]
  [158  61  20 163 227]]

 ...

 [[243 183 191  90  91]
  [141  87 115 230  13]
  [169 145 108  93  67]
  [176 116 207 100 154]
  [ 99 203  58  26  11]]

 [[196  83 183 171 209]
  [ 11 128  32  42 213]
  [243 168  74 178 199]
  [167  93 198  94 143]
  [140 219   7  52   0]]

 [[ 52 132  40 222 120]
  [199  44 184 174 186]
  [ 67 150 214 212  17]
  [ 45 169 253  63 149]
  [ 12  42  51 150 226]]]

In [4]:
print(movie.shape)

(50, 5, 5)

In [5]:
pixel_mean_intensity = np.mean(movie, axis=0)
print(pixel_mean_intensity)
print(pixel_mean_intensity.shape)

[[114.88 130.8  127.14 151.04 127.52]
 [133.58 123.46 109.34 136.06 134.06]
 [139.88 138.62 140.88 138.32 130.14]
 [119.26 144.7  123.38 131.96 127.3 ]
 [129.42 121.88 124.82 131.48 118.78]]
(5, 5)

6.4
---

In [6]:
import numpy as np
import numpy.random as rdm

values = rdm.normal(5, 3, 1000000)

#sottraggo 5 e guardo se ha funzionato
print(round(np.mean(values), 4))
values -= 5
print(round(np.mean(values), 4))

#implemento deviazione std e confronto con np.std
residuals = values - np.mean(values)
squared_residuals = residuals**2
variance = np.sum(squared_residuals) / values.size
print(np.std(values), np.sqrt(variance))

5.004
0.004
2.998506349757395 2.998506349757395

6.5
---

In [7]:
import numpy as np

X_train = np.array([[1,2,3],
                    [0,2,-1],
                    [-1,2,3],
                    [3,1,3]])

x_new = np.array([1,1,2])

y_train = np.array([0,1,0,1])

print(X_train)
print(y_train)
print(x_new)

[[ 1  2  3]
 [ 0  2 -1]
 [-1  2  3]
 [ 3  1  3]]
[0 1 0 1]
[1 1 2]

In [8]:
distances = [np.sqrt(np.sum((x - x_new) ** 2)) for x in X_train]#riga per riga
distances = np.round(distances, 1)
print(distances)

[1.4 3.3 2.4 2.2]

Posso calcolare le distanze in modo ancora più compatto. Definita la *Norma* di un vettore $d$-dimensionale,

$$\|x\|_2 := \sqrt{\sum_{i=1}^d x_i^2},$$

si può dire che la distanza euclidea tra due vettori $x$ e $x'$ è la norma del *vettore differenza* $x - x'$:

$$D(x, x') = \sqrt{\sum_{i=1}^{d}(x_i-x'_i)^2} = \|x - x'\|_2.$$

Proviamo intanto ad operare vettorialmente.

In [19]:
X_train - x_new#vettori differenza

array([[ 0,  1,  1],
       [-1,  1, -3],
       [-2,  1,  1],
       [ 2,  0,  1]])

In [20]:
(X_train - x_new) ** 2#differenze al quadrato

array([[0, 1, 1],
       [1, 1, 9],
       [4, 1, 1],
       [4, 0, 1]])

In [21]:
np.sum((X_train - x_new) ** 2, axis=1)#somma (lungo le colonne) degli scarti al quadrato

array([ 2, 11,  6,  5])

In [25]:
distances = np.sqrt(np.sum((X_train - x_new) ** 2, axis=1))#tutto vettoriale
distances = np.round(distances, 1)
print(distances)

[1.4 3.3 2.4 2.2]

Volendo, tutto in una riga:

In [24]:
print(np.round(np.sqrt(np.sum((X_train - x_new) ** 2, axis=1)), 1))

[1.4 3.3 2.4 2.2]

Adesso utilizziamo la funzione *norm* di numpy.

In [26]:
from numpy.linalg import norm

vec = np.random.random((5,))
print(vec)
print(np.sqrt(np.sum(vec**2)))
print(norm(vec))

[0.61306346 0.90234858 0.09928035 0.96980907 0.65314004]
1.6022040728828197
1.6022040728828197

In [29]:
print(np.round(norm(X_train - x_new, axis=1), 1))#utilizzando la norma vettorialmente

[1.4 3.3 2.4 2.2]

**Nota**: abbiamo smesso di scrivere cicli for!

6.6
---

In [34]:
people = np.array([[1.60, 66],
                   [1.60, 63],
                   [1.90, 67]])

print(people)

[[ 1.6 66. ]
 [ 1.6 63. ]
 [ 1.9 67. ]]

In [35]:
A, B, C = people
print(A)
print(B)
print(C)

[ 1.6 66. ]
[ 1.6 63. ]
[ 1.9 67. ]

In [36]:
print(norm(A-B))
print(norm(A-C))

3.0
1.0440306508910548

In [37]:
def scale_01(column):
    return (column - np.min(column)) / (np.max(column) - np.min(column))

scaled_height = scale_01(people[:, 0])
scaled_weight = scale_01(people[:, 1])

print(scaled_height)
print(scaled_weight)

[0. 0. 1.]
[0.75 0.   1.  ]

In [38]:
scaled_people = np.vstack([scaled_height, scaled_weight])
print(scaled_people)

[[0.   0.   1.  ]
 [0.75 0.   1.  ]]

In [39]:
scaled_people = scaled_people.T#trasposizione
print(scaled_people)

[[0.   0.75]
 [0.   0.  ]
 [1.   1.  ]]

Scriviamo tutto in modo più veloce e compatto, utilizzando il calcolo vettoriale.

In [46]:
print(people)

[[ 1.6 66. ]
 [ 1.6 63. ]
 [ 1.9 67. ]]

In [47]:
print(np.min(people, axis=0))#minimo per colonna (cioè, 'lungo le righe')

[ 1.6 63. ]

In [49]:
print(people - np.min(people, axis=0))

[[0.  3. ]
 [0.  0. ]
 [0.3 4. ]]

In [52]:
print(np.max(people, axis=0) - np.min(people, axis=0))

[0.3 4. ]

In [53]:
scaled_people = (people - np.min(people, axis=0)) / (np.max(people, axis=0) - np.min(people, axis=0))
print(scaled_people)

[[0.   0.75]
 [0.   0.  ]
 [1.   1.  ]]

In [55]:
scaled_A, scaled_B, scaled_C = scaled_people
print(scaled_A)
print(scaled_B)
print(scaled_C)

[0.   0.75]
[0. 0.]
[1. 1.]

In [56]:
print(norm(scaled_A-scaled_B))
print(norm(scaled_A-scaled_C))

0.75
1.0307764064044151

6.7
---

In [60]:
import numpy as np
from numpy.linalg import norm

np.random.seed(0)#fisso il generatore casuale per la riproducibilità dell'esperimento

def KNN(k, X, y, x):
    distances = norm(X - x, axis=1)
    sorted_labels = y[distances.argsort()]
    return np.argmax(np.bincount(sorted_labels[:k]))

def one_line_KNN(k, X, y, x):
    return np.argmax(np.bincount(y[norm(X - x, axis=1).argsort()][:k]))

X_train = np.random.random((7,4))
y_train = np.random.randint(0, 2, (7))
x_new = np.random.random((4,))

print('Matrice delle feature:\n', X_train)

print('\nVettore delle etichette:', y_train)

print('\nNuovo esempio da classificare:', x_new)

print('\nPredizione (k=3):', one_line_KNN(3, X_train, y_train, x_new))
print('Predizione (k=5):', one_line_KNN(5, X_train, y_train, x_new))

Matrice delle feature:
 [[0.5488135  0.71518937 0.60276338 0.54488318]
 [0.4236548  0.64589411 0.43758721 0.891773  ]
 [0.96366276 0.38344152 0.79172504 0.52889492]
 [0.56804456 0.92559664 0.07103606 0.0871293 ]
 [0.0202184  0.83261985 0.77815675 0.87001215]
 [0.97861834 0.79915856 0.46147936 0.78052918]
 [0.11827443 0.63992102 0.14335329 0.94466892]]

Vettore delle etichette: [1 0 0 1 1 0 1]

Nuovo esempio da classificare: [0.73691818 0.21655035 0.13521817 0.32414101]

Predizione (k=3): 1
Predizione (k=5): 0

7.3
---

In [7]:
#Importo librerie
from sklearn import datasets, neighbors
from sklearn.utils import shuffle
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor as KNN
from sklearn.metrics import mean_absolute_error

#Carico il dataset
boston = datasets.load_boston()
X, y = boston['data'], boston['target']

print(boston['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [8]:
#Scalo le feature tra 0 e 1
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

#Separo train e test
X, y = shuffle(X, y, random_state=0)
X_train, X_test = X[:400], X[400:]
y_train, y_test = y[:400], y[400:]

#Addestro il modello
model = KNN(n_neighbors=3).fit(X_train, y_train)

#Ottengo predizioni e valuto il mae
predictions = model.predict(X_test)
mae = mean_absolute_error(y_test, predictions)
print('Model accuracy on test set: {:.3f}'.format(mae))

Model accuracy on test set: 2.845

7.4
---

In [46]:
from sklearn.datasets import load_iris
from sklearn.preprocessing import MinMaxScaler
from sklearn.utils import shuffle
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.metrics import accuracy_score
import numpy as np

#Carico il dataset
iris = load_iris()
X, y = iris['data'], iris['target']

#Scalo le feature tra 0 e 1
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

#Separo train , validation e test
X, y = shuffle(X, y, random_state=123)
X_tr, X_val, X_test = X[:75], X[75:100], X[100:]
y_tr, y_val, y_test = y[:75], y[75:100], y[100:]

print(X_tr.shape, X_val.shape, X_test.shape)

(75, 4) (25, 4) (50, 4)

In [47]:
for k in [1,2,3,5,10]:
    model = KNN(n_neighbors=k)
    model.fit(X_tr, y_tr)
    predictions = model.predict(X_val)
    validation_accuracy = accuracy_score(y_val, predictions)
    print('Validation accuracy with k {}: {:.2f}'.format(k, validation_accuracy))

Validation accuracy with k 1: 0.92
Validation accuracy with k 2: 0.96
Validation accuracy with k 3: 0.92
Validation accuracy with k 5: 0.92
Validation accuracy with k 10: 0.92

In [48]:
X_train = np.vstack([X_tr, X_val])
y_train = np.hstack([y_tr, y_val])

print(X_train.shape, y_train.shape)

(100, 4) (100,)

In [49]:
predictions = KNN(n_neighbors=2).fit(X_train, y_train).predict(X_test)
print('Test accuracy:', accuracy_score(y_test, predictions))

Test accuracy: 0.96

8.1
---

In [50]:
import pandas as pd

df = pd.read_csv('data/nyc_rolling_sales.csv')
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE DATE,SALE PRICE
0,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,153 AVENUE B,10009,5,0,1633,6440,1900,2,C2,2017-07-19 00:00:00,6625000
1,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,154 EAST 7TH STREET,10009,10,0,2272,6794,1913,2,C4,2016-09-23 00:00:00,3936272
2,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,301 EAST 10TH STREET,10009,6,0,2369,4615,1900,2,C2,2016-11-17 00:00:00,8000000
3,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,210 AVENUE B,10009,8,0,1750,4226,1920,2,C4,2016-09-23 00:00:00,3192840
4,MANHATTAN,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,629 EAST 5TH STREET,10009,24,0,4489,18523,1920,2,D9,2016-11-07 00:00:00,16232000

Nell'ottica di predire il prezzo di una unità immobiliare o di un edificio, alcune colonne risultano inutili o ridondanti. Per esempio:
- l'informazione data da *BOROUGH* è contenuta (con maggiore dettaglio) anche in *NEIGHBORHOOD* e in *ZIP CODE*; quale colonna scegliamo?
- lo stesso vale (vedi glossario qui sotto) per le colonne relative alla *BUILDING CLASS*
- *ADDRESS* e la coppia *BLOCK*+*LOT* (vedi glossario) sono identificativi *univoci*, e non sono adatti ad essere usati come feature; perchè?
- l'utilità di *SALE DATE* dipende dal contesto: come la possiamo usare?
- ...

Glossario: https://www1.nyc.gov/assets/finance/downloads/pdf/07pdf/glossary_rsf071607.pdf.

In [51]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE DATE', 'SALE PRICE'],
      dtype='object')

In [52]:
df = df.drop(columns=['NEIGHBORHOOD',
                      'ZIP CODE',
                      'BLOCK',
                      'LOT',
                      'ADDRESS',
                      'BUILDING CLASS AT PRESENT',
                      'BUILDING CLASS AT TIME OF SALE',
                      'TAX CLASS AT PRESENT',
                      'SALE DATE'])

In [53]:
df.head()

,BOROUGH,BUILDING CLASS CATEGORY,RESIDENTIAL UNITS,COMMERCIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
0,MANHATTAN,07 RENTALS - WALKUP APARTMENTS,5,0,1633,6440,1900,2,6625000
1,MANHATTAN,07 RENTALS - WALKUP APARTMENTS,10,0,2272,6794,1913,2,3936272
2,MANHATTAN,07 RENTALS - WALKUP APARTMENTS,6,0,2369,4615,1900,2,8000000
3,MANHATTAN,07 RENTALS - WALKUP APARTMENTS,8,0,1750,4226,1920,2,3192840
4,MANHATTAN,08 RENTALS - ELEVATOR APARTMENTS,24,0,4489,18523,1920,2,16232000

In [54]:
df.shape

(29280, 9)

Passiamo alla codifica one-hot delle feature nominali.

In [55]:
df = pd.get_dummies(df,
                    prefix=['BOR',
                            'BC',
                            'TC'],#nuovi prefissi comuni
                    columns=['BOROUGH',
                             'BUILDING CLASS CATEGORY',
                             'TAX CLASS AT TIME OF SALE'])#lista colonne da codificare

df.head()

,RESIDENTIAL UNITS,COMMERCIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,BOR_BRONX,BOR_BROOKLYN,BOR_MANHATTAN,BOR_QUEENS,...,BC_34 THEATRES,BC_35 INDOOR PUBLIC AND CULTURAL FACILITIES,BC_36 OUTDOOR RECREATIONAL FACILITIES,BC_37 RELIGIOUS FACILITIES,BC_38 ASYLUMS AND HOMES,BC_40 SELECTED GOVERNMENTAL FACILITIES,BC_41 TAX CLASS 4 - OTHER,TC_1,TC_2,TC_4
0,5,0,1633,6440,1900,6625000,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,10,0,2272,6794,1913,3936272,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,6,0,2369,4615,1900,8000000,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,8,0,1750,4226,1920,3192840,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,24,0,4489,18523,1920,16232000,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [56]:
df.shape

(29280, 43)

Siamo pronti per fare machine learning. Separiamo $X$ e $y$.

In [57]:
y = df['SALE PRICE']
X = df.drop(columns=['SALE PRICE'])

In [58]:
X.shape, y.shape

((29280, 42), (29280,))

Per trasformare un DataFrame in un array NumPy possiamo usare il costrutto

        df.values

In [59]:
X_np = X.values

X_np

array([[     5,      0,   1633, ...,      0,      1,      0],
       [    10,      0,   2272, ...,      0,      1,      0],
       [     6,      0,   2369, ...,      0,      1,      0],
       ...,
       [     2,      0,   4000, ...,      1,      0,      0],
       [     0,      7, 208033, ...,      0,      0,      1],
       [     0,      1,  10796, ...,      0,      0,      1]])

<script>
  $(document).ready(function(){
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('div.prompt').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>